<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="<%= asset_path 'favicon.ico' %>" width="30" height="30" alt="">
</nav>
<div class="container">
  <div class="heading">
    <h1 class="display-2 text-white">Download Now</h1>
  </div>
  <div>
    <div class="row barcode">
      <img  class="ml-3" src="<%= asset_path 'barcode.png' %>" alt="">
    </div>
    <div class="alert alert-success px-md-4 mt-5 testflight" role="alert">
      App can be accessible from Testflight app directly too!
    </div>
  </div>
</div>
