<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="<%= asset_path 'favicon.ico' %>" width="30" height="30" alt="">
</nav>
<div class="container">
  <div class="heading">
    <h1 class="display-2 text-white">Download Now</h1>
  </div>
  <div class="barcode">
    <div class="row">
      <img  class="ml-3" src="<%= asset_path 'barcode.png' %>" alt="">
    </div>
    <a href="/">
      <img class="px-md-4 mt-5 rounded-pill" src="<%= asset_path 'apple_icon.png' %>" alt="">
    </a>
  </div>
</div>
